

## Queryable Example Configurations

-- Example of a configuration for a H2 Datasource
{
	"QueryableInitialisationConfig": {
	    "description": "Initialisation Configurations for a H2 DataSource",
        "configurations" : {
            "conf_dburl": "jdbc:h2:tcp://localhost/~/athena",
            "conf_user": "sa",
            "conf_pass": "",
            "conf_driver": "org.h2.Driver",
            "conf_type": "DATABASE"
        }
	}
}

