<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <contextName>StarBuck</contextName>

    <!-- Specify Appenders Here -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%date [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
        <target>System.out</target>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework.jdbc.core.JdbcTemplate">
        <level value="debug"/>
    </logger>

</configuration>